<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explicit Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <h1>Explicit Hospital</h1>
        <div class="buttons">
            <!-- Patient options -->
            <a href="{{ url_for('patient_register') }}" class="btn">Patient Register</a>
            <a href="{{ url_for('patient_login') }}" class="btn">Patient Login</a>

            <!-- Doctor login -->
            <a href="{{ url_for('doctor_login') }}" class="btn">Doctor</a>

            <!-- Admin login -->
            <a href="{{ url_for('admin_login') }}" class="btn">Admin</a>
            <a href="{{ url_for('pharmacy_login') }}" class="btn">Pharmacy</a> 
        </div>
    </div>
</body>
</html>
